<div>
  <% if title_link %>

    <h2><%= link_to(topic.title, topic_posts_path(topic)) %></h2>

  <% else %>

    <h2><%= topic.title %></h2>

  <% end %>

  <p><%= topic.introduction %></p>

  <%if list_topic %> 

    <p> <%= topic.posts.count %> posts in this topic</p>

  <% end %>
</div>