<div>
  <h3> <%= link_to(post.title, post_replies_path(post)) %> </h3>

  <p> <%= post.body %></p>
  <p>  <%= l(post.created_at, format: '%b %e, %Y, %I:%M%P')%> </p>

  <%= render(partial: 'reply', collection: @replies.where(post_id: post.id))%>

</div>