<h2>Welcome <%= current_user.first_name %></h2>

<%= link_to('Edit Account', edit_user_registration_path) %>

<%= link_to('Return to Forum', root_path) %>


<%= render partial: 'topic', collection: @topics %>
